body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.team{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    
}
.make {
    margin: 10px 0px;
}

ul{
    display: flex;
    

}
.item{
    
    margin: 5px 94px 0px 0px;;
}

.services ul li{
    list-style: none;
}

.services ul li a{
    margin: 0px 30px;
    text-decoration: none;
    color: black;
}
.services{
    display: flex;
    margin: 10px 0px;
}

.login{
    margin: 10px 0px;
}


.home{
    width: 61%;
    margin: 0px 0px;
    padding: 6px;
    color: #38345B;
    border: 2px solid #38345B;
}

.career{
    width: 35%;
    background-color: #38345B;
    color: #FFFFFF;
    padding: 6px;
}

/* 2 */

.count{
    height: 70vh;
    margin: auto;
    width: 95%;
    background-color: #F1F1FB;
}

.better{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 97%;
    height: 70%;
}

.better img {
    width: 48%;
    height: 106%;
    position: relative;
    left: 50%;

}
.better h1{
    font-size: 3.5rem;
    width: 43%;
    position: relative;
    bottom: 95%;
    margin: 40px 40px 0px;
}
.better p{
    font-size: 1.4rem;
    width: 44%;
    position: relative;
    bottom: 95%;
    margin: 10px 40px;

}

.learn{
    width: 10%;
    position: relative;
    top: 75%;
    margin: 20px 40px;
    background-color: #38345B;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

/* 2 */
.design{
    display: flex;
   margin: 25px 0px;
}

.report{
    display: flex;
    width: 20%;
    margin: 0px 85px;
}
.report h1{
    width: 12%;
    margin: 0px 10px;
    line-height: 1.5rem;
}
.report p{
    width: 40%;
    position: relative;
    right: 15%;
    top: 60%;
}

/* 3 */

.offer{
    background-color: #F1F1FB;
    height: 80vh;
}

.real-time{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.real-time h4{
    margin: 30px 0px 0px 0px;
    text-align: center;
}
.real-time h1{
   width: 25%;
   text-align: center;
   margin: 15px 0px;
}
.real-time p{
    width: 32%;
    text-align: center;
    margin: 0px;
    margin: 0px -5px 0px 0px;
}
.direct{
    display: flex;
    height: 41vh;
    justify-content: center;
    margin: 34px 0px;
}

.fueled{
    border: 2px solid #D6D6FF;
    width: 22%;
    margin: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.fueled img{
   width: 90%;
   padding: 10px 14px;
}
.fueled p{
   width: 92%;
   padding: 0px 15px;
}

/* 4 */

.client{
    height: 50vh;
}
.trusted{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.trusted h3{
    position: absolute;
    left: 21%;
    top: 27%;
}

.trusted h1{
    position: relative;
    width: 57%;
    margin: 100px 0px 0px 0px;
    left: 21%;
    
}
.trusted p{
    position: absolute;
    left: 165%;
    bottom: 25%;
    width: 62%;
}

.create{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 60%;
    margin: 0px 85px;
}


.images{
    height: 60px;
    width: 300px;
    padding: 10px 0px;
    margin-left: 40px;
}

.future{
   margin-right: 80px;
}

/* 5 */

.help{
    background-color: #F1F1FB;
    display: flex;
    
    height: 71vh;
    width: 100%;
}

.business{

left: 15%;
}

.business{
position: relative;
}
.business h2{
    position: absolute;
    left: 93%;
    top: 7%;
    width: 30%;
    margin: 0;
    font-size: 1.1rem;
}
.business h1{
    position: absolute;
    left: 93%;
    width: 30%;
    top: 15%;
    margin: 0;

}
.business p{
    position: absolute;
    left: 93%;
    top: 25%;
    width: 43%;
    margin: 0;

}
.tailor img{
width: 62%;
}

.buid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.seamless{
    position: relative;
    left: 40%;
    top: 45%;
    width: 27%;
    margin: 0px 0px;
}

.seamless img{
    margin: 0px 14px;
}

.export{
    width: 12%;
    position: relative;
    top: 76%;
    right: 19%;
    background-color: #38345B;
    color: #FFFFFF;
    border-radius: 5px;
    height: 3rem;
}
/* 6 */

.ready{
    display: flex;
    width: 81%;
    border-radius: 15px;
    height: 22vh;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background-color: #38345B;
    
}
.drive h1{
    color: #FFFFFF;
    width: 64%;
    margin: 0px 35px;
    font-size: 2.1rem;
}

.chat{
    width: 13%;
    background-color: #38345B;
    color: #FFFFFF;
    border-radius: 5px;
    height: 3rem;
    position: absolute;
    bottom: -224%;
    right: 13%;
    border: 2px solid #FFFFFF;
}


/* 7 */

.customer{
    display: flex;
    background-color: #F1F1FB;
    height: 92vh;
    width: 70%;
    flex-direction: column;
    align-items: center;
}
.step img{
    width: 40%;
    right: 4%;
    position: absolute;
    
}

.stellar h3{
    font-size: 1.8rem;
    /* width: 54%; */
    margin: 20px 80px;
}
.stellar h2{
    font-size: 2.5rem;
    width: 60%;
    margin: 20px 80px;
}

.tools{
    margin: 0px 260px 0px 0px;
}
.stell{

    flex-direction: column;
    font-size: 1.5rem;
    width: 75%;
}
.hassle{
    width: 150%;
    position: relative;
    top: 10%;
    right: 377%;
    background-color: #38345B;
    color: #FFFFFF;
    border-radius: 5px;
    height: 2.6rem;
}


/* 8 */

.gold{
    height: 100vh;
}

.search{
    display: flex;
    background-color: #F1F1FB;
    height: 92vh;
    width: 83%;
    margin: 60px 0px 0px 215px;
    flex-direction: column;
    align-items: center;
}

.space img{
    width: 40%;
    left: 4%;
    position: absolute;
}

.here h2{
    font-size: 2.5rem;
    width: 50%;
    margin: 20px 22px;
    position: relative;
    left: 45%;
    

}
.here h3{
    width: 45%;
    position: relative;
    left: 55%;
    font-size: 1.8rem;
    margin: 20px -82px;
}



.type{
    position: relative;
    left: 20%;
    font-size: 1.5rem;
    width: 48%;
}
.suit{

    flex-direction: column;
    width: 80%;
}
.click{
    width: 150%;
    position: relative;
    left: 22%;
    top: 20%;
    background-color: #38345B;
    color: #FFFFFF;
    border-radius: 5px;
    height: 2.6rem;
}


/* 9 */

.start{
    color: #FFFFFF;
    background-color: #1D1B33;
    display: flex;
    flex-direction: column;
}
.silver{
    display: flex;
    margin: 0px 170px;
}

.blog{
 
 width: 15%;
 margin: 0px 40px;
}
.facebook a{
    color: #FFFFFF;
    line-height: 2;
}
.product img{
    position: absolute;
    left: 89%;
    top: 558%;
}

.olives{
    margin: 0px 40px;
}

